# .gitignore
.env
.env.db
.env.deploy
nginx.conf

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
staticfiles/

# Vue.js (Frontend)
frontend/node_modules/
frontend/dist/

# Django
*.log
backend/*.csv
/media
/public
/staticfiles
*.sqlite3

# Docker
.docker/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Mac
.DS_Store
Thumbs.db