# .gitignore

.env
.env.db
.env.deploy
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
staticfiles/

# Vue.js (Frontend)
frontend/node_modules/
frontend/dist/

# Django
backend/*.csv

# Docker
.docker/

# Mac 系統檔案
.DS_Store

# 資料庫 (如果是 SQLite)
*.sqlite3